@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h1,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input {
  outline: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

:root {
  --bg-color: #FFFFFF;
  --text-color: #22343D;
  --burger-color: #173A56;
  --button-color: rgba(2, 137, 122, 1);
  --button-text-color: var(--text-color);
}

.darkstyle {
  --bg-color: #1F2E35;
  --text-color: #FFFFFF;
  --burger-color: #FFFFFF;
  --button-color: rgba(2, 137, 122, 1);
}

header {
  display: flex;
  height: clamp(70px, 6.89vw, 80px);
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 30px;
  font-weight: bold;
}
.header__logo a {
  display: flex;
  gap: 16px;
  align-items: center;
}
.header__burger {
  width: 24px;
  height: 19px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (max-width: 1000px) {
  .header__burger {
    display: inline-flex;
  }
}
.header__burger span, .header__burger::before, .header__burger::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--burger-color);
  display: block;
}
.header__burger::after, .header__burger::before {
  content: "";
  position: absolute;
  left: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger::before {
  top: 0;
}
.header__btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 1000px) {
  .header__btn {
    display: none;
  }
}
.header__btn nav {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__btn nav span {
  font-weight: 600;
}
.header__sign-in {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  font-size: 16px;
  color: aliceblue;
  background-color: transparent;
  font-weight: 600;
}
.header__sign-in:hover {
  background-color: #979797;
}
.header__sign-up {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 4px;
  color: aliceblue;
  border: 1px solid #d8d8d8;
  font-size: 16px;
  background-color: #02897a;
  font-weight: 600;
}
.header__sign-up:hover {
  background-color: #979797;
}
.header__theme {
  width: 32px;
  height: 32px;
  background-color: #f3f3f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__theme::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #02897a;
  border-radius: 50%;
}
.header__theme::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 7px;
  background-color: #02897a;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  height: 2000px;
  overflow-x: hidden;
}

.contents {
  padding-bottom: 100px;
}
.contents h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: clamp(16px, 2.95vw, 34px);
  line-height: clamp(20px, 4.43vw, 51px);
  text-align: center;
}
.contents h3 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: clamp(10px, 1.39vw, 16px);
  line-height: clamp(12px, 2.98vw, 34px);
  text-align: center;
}
.contents .more {
  width: 150px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  margin-top: 32px;
}
.contents .more p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: clamp(10px, 1.56vw, 18px);
  line-height: clamp(13px, 2.26vw, 26px);
}
.contents .contetnts-wrap {
  display: flex;
  align-items: center;
  gap: 32px;
}
@media (max-width: 1000px) {
  .contents .contetnts-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.contents__list {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
}
.contents__list .content__card {
  max-width: 348px;
  position: relative;
  z-index: 1;
}
.contents__list .content__card:hover .content__card-text {
  color: rgb(2, 137, 122);
}
.contents__list .content__card-text {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #fff;
  color: rgb(34, 52, 61);
  transition: 0.5s;
}
.contents__list .content__card-text p {
  font-family: Poppins;
  font-weight: 700;
  padding-top: 12px;
  font-size: clamp(12px, 2.08vw, 24px);
  padding-right: clamp(15px, 2.6vw, 30px);
  padding-bottom: clamp(20px, 3.47vw, 40px);
  padding-left: clamp(12px, 2.08vw, 24px);
}
.contents__list .content__card-text span {
  font-family: Poppins;
  font-weight: 400;
  font-size: clamp(10px, 1.39vw, 16px);
  line-height: clamp(14px, 2.43vw, 28px);
  padding-left: clamp(12px, 2.08vw, 24px);
  padding-top: clamp(12px, 2.08vw, 24px);
}
.contents__list .content__card-img {
  max-width: 348px;
  position: relative;
  z-index: -1;
  top: 10px;
}
.contents__list .content__card-img img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
}

.business {
  padding-top: 100px;
  padding-bottom: 100px;
}
.business__wrap {
  display: flex;
  align-items: center;
  gap: 35px;
}
@media (max-width: 1000px) {
  .business__wrap {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
.business-left {
  max-width: 535px;
}
.business-left h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: clamp(20px, 3.47vw, 40px);
  line-height: clamp(20px, 2.66vw, 39.6px);
  letter-spacing: -3%;
}
.business-left p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: clamp(10px, 1.73vw, 20px);
  line-height: clamp(16px, 2.78vw, 32px);
  letter-spacing: -3%;
  padding-top: clamp(12px, 2.08vw, 24px);
  padding-bottom: clamp(12px, 2.08vw, 24px);
}
.business-left form {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 100px;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.business-left form input {
  margin: clamp(12.5px, 2.17vw, 25px);
  background-color: transparent;
}
.business-left form input::-moz-placeholder {
  color: var(--text-color);
  font-family: "Poppins";
  font-weight: 400;
  line-height: clamp(8px, 1.39vw, 16px);
  letter-spacing: -3%;
}
.business-left form input::placeholder {
  color: var(--text-color);
  font-family: "Poppins";
  font-weight: 400;
  line-height: clamp(8px, 1.39vw, 16px);
  letter-spacing: -3%;
}
.business-left-imgs {
  display: flex;
  align-items: center;
  padding-top: 24px;
}
.business-left-img-1 {
  position: relative;
}
.business-left-img-2 {
  position: relative;
  right: 13px;
}
.business-left-img-3 {
  position: relative;
  right: 26px;
}
.business-left p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: clamp(8px, 1.39vw, 16px);
  line-height: clamp(10px, 1.82vw, 21px);
}
.business-left p span {
  font-family: "Poppins";
  font-weight: 500;
  font-size: clamp(8px, 1.39vw, 16px);
  line-height: clamp(10px, 1.82vw, 21px);
  color: #02897a;
}
.business-right {
  max-width: 576.89px;
  max-height: 400px;
}
.business-right img {
  width: 100%;
  height: 100%;
}

.contact {
  padding-top: 100px;
  padding-bottom: 100px;
}
.contact__wrap {
  max-width: 871px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
}
.contact-top h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: clamp(17px, 2.95vw, 34px);
  line-height: clamp(28.5px, 4.95vw, 57px);
  letter-spacing: 0.2px;
  padding-bottom: 27px;
  text-align: center;
}
.contact-top h2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: clamp(10px, 1.56vw, 18px);
  line-height: clamp(14px, 2.43vw, 28px);
  letter-spacing: 0.2px;
  padding-bottom: 50px;
  text-align: center;
}
.contact-top .contact-images {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 200px;
  margin: 0 auto;
}
.contact-top .contact-images .contact-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}
.contact-middle {
  max-width: 871px;
}
.contact-middle img {
  width: 100%;
}
.contact-bottom form {
  display: flex;
  flex-direction: column;
  gap: 45px;
  background-color: rgb(34, 52, 61);
  border: 1px solid rgb(70, 70, 70);
  border-radius: 50px;
  padding: 50px;
}
.contact-bottom form h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: clamp(12px, 2.08vw, 24px);
  line-height: clamp(11.5px, 2.86vw, 33px);
  letter-spacing: 1px;
  text-align: center;
}
.contact-bottom form input {
  max-width: 770px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 35px;
  padding: clamp(10px, 1.73vw, 20px);
}
.contact-bottom form input::-moz-placeholder {
  color: rgb(34, 52, 61);
  font-family: "Roboto";
  font-weight: 400;
  font-size: clamp(10px, 1.3vw, 15px);
  line-height: clamp(10px, 1.39vw, 16px);
  letter-spacing: 0.1px;
}
.contact-bottom form input::placeholder {
  color: rgb(34, 52, 61);
  font-family: "Roboto";
  font-weight: 400;
  font-size: clamp(10px, 1.3vw, 15px);
  line-height: clamp(10px, 1.39vw, 16px);
  letter-spacing: 0.1px;
}
.contact-bottom form textarea {
  max-width: 770px;
  padding: clamp(10px, 1.73vw, 20px);
  border: 1px solid rgb(232, 232, 232);
}
.contact-bottom form textarea::-moz-placeholder {
  color: rgb(34, 52, 61);
  font-family: "Roboto";
  font-weight: 400;
  font-size: clamp(10px, 1.3vw, 15px);
  line-height: clamp(10px, 1.39vw, 16px);
  letter-spacing: 0.1px;
}
.contact-bottom form textarea::placeholder {
  color: rgb(34, 52, 61);
  font-family: "Roboto";
  font-weight: 400;
  font-size: clamp(10px, 1.3vw, 15px);
  line-height: clamp(10px, 1.39vw, 16px);
  letter-spacing: 0.1px;
}

button {
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  display: inline-block;
  border-radius: 100px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: clamp(10px, 1.39vw, 16px);
  padding: 25px 19px 25px 24px;
  margin: 8px;
}
button:hover {
  cursor: pointer;
}

footer .p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: clamp(10px, 1.39vw, 16px);
  line-height: clamp(15px, 3.04vw, 35px);
  text-align: center;
  padding-top: 28px;
  padding-bottom: 24px;
}
footer .footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(20px, 6.95vw, 80px);
}
@media (max-width: 600px) {
  footer .footer__content {
    text-align: center;
  }
}
footer .footer__content .container-1__logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
footer .footer__content .container-1__logo span {
  font-family: "Poppins";
  font-weight: 700;
  font-size: clamp(15px, 2.6vw, 30px);
  line-height: clamp(14px, 2.43vw, 28px);
}
footer .footer__content .container-1__imgs {
  padding-top: 25px;
  display: flex;
  align-items: center;
  gap: 16px;
}
footer .footer__content .container-1__imgs .container-1__img {
  background-color: #EDFFFC;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__content .container-2 ul li {
  font-family: "Poppins";
}
footer .footer__content .container-2 ul li span {
  font-weight: 500;
  font-size: clamp(10px, 1.73vw, 20px);
  line-height: clamp(15px, 2.6vw, 30px);
}
footer .footer__content .container-2 ul li a {
  font-weight: 400;
  font-size: clamp(10px, 1.39vw, 16px);
  line-height: clamp(15px, 3.04vw, 35px);
}
footer .footer__content .container-3 ul {
  width: 131px;
}
footer .footer__content .container-3 ul li {
  font-family: "Poppins";
}
footer .footer__content .container-3 ul li span {
  font-weight: 500;
  font-size: clamp(10px, 1.73vw, 20px);
  line-height: clamp(15px, 2.6vw, 30px);
}
footer .footer__content .container-3 ul li a {
  font-weight: 400;
  font-size: clamp(10px, 1.39vw, 16px);
  line-height: clamp(15px, 3.04vw, 35px);
}

.container-4 {
  max-width: 325px;
}
.container-4 p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: clamp(10px, 1.73vw, 20px);
  line-height: clamp(15px, 2.6vw, 30px);
  padding-bottom: 34px;
}
.container-4 form input {
  width: 100%;
  height: 48px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2509803922);
}
.container-4 form button {
  color: #FFFFFF;
  background-color: #02897A;
  padding: 8px 15px 8px 15px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: clamp(10px, 1.39vw, 16px);
  line-height: clamp(12px, 2.08vw, 24px);
  border-radius: 4px;
  margin-top: 21px;
}/*# sourceMappingURL=resources.css.map */