:root{
  --bg-color: #FFFFFF;
  --text-color: #22343D;
  --burger-color: #173A56;
  --button-color: rgba(2, 137, 122, 1);
  --button-text-color: var(--text-color);
}
.darkstyle{
  --bg-color: #1F2E35;
  --text-color: #FFFFFF;
  --burger-color: #FFFFFF;
  --button-color: rgba(2, 137, 122, 1);
}